.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 50px;
  nav-left: full;
}

.logo img {
  height: 0.8px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  color: #08abcf;
}

.nav-links {
  display: flex;
  list-style: none;
  width:100%;
}

.nav-links li {
  margin: 0 15px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Authentication buttons container */
.auth-buttons {
  display: flex;
  gap: 15px; /* Space between the buttons */
  align-items: center; /* Vertically align buttons */
  border-bottom: 2px solid #ddd; /* Add a horizontal line under the buttons */
  padding-bottom: 10px; /* Ensure padding for spacing from buttons */
}

/* Individual button styling */
.auth-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.auth-buttons .login {
  background-color: #333;
  color: white;
}

.auth-buttons .register {
  background-color: #333;
  color: white;
}

 
.auth-buttons .post-ad {
  background-color: #e79913;
  color: white;
  padding: 4px 8px; /* Reduce padding for a smaller button */
  font-size: 15px; /* Smaller font size */
  border-radius: 4px; /* Slightly rounded edges */
  margin-top: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.auth-buttons .post-ad:hover {
  background-color: #d38f0d; /* Slightly darker yellow on hover */
}
